@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

:root {
    --main: #e01e37;
    --body-color: #000000;
    --body-bg: #f6f6f6;
    --strong-color: #ffffff;
    --footer-bg: #85182a;
    --scroll-bg: #a11d33;

}

.dark-mode:root {
    --main: #4192fc;
    --body-color: #ffffff;
    --body-bg: #25293a;
    --strong-color: #ffffff;
    --footer-bg: #34598a;
    --scroll-bg: #3746a0;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


body,
html {
    color: var(--body-color);
    background-color: var(--body-bg);
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: sans-serif;
    font-style: normal;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 5px;
    border-radius: 20px;
}

body::-webkit-scrollbar-track {
    background: var(--body-bg);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--scroll-bg);
    border-radius: 20px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 120px;
    white-space: nowrap;
    background-color: var(--body-bg);
    box-shadow: 0px 0px 28px #00000038;

}

header h1 {
    font-family: 'DM Sans';
    display: inline;
    font-weight: 700;
    font-size: 52px;
    flex-wrap: nowrap;

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100%;
    gap: 150px;
}

h1 {
    font-weight: 700;
    font-size: 96px;
    line-height: 115px;
}

#mode-icon {
    cursor: pointer;
}

strong {
    background-color: var(--main);
    color: var(--strong-color);
    padding: 0 20px;
}

img {
    width: 377px;
    height: 512px;
    border-radius: 20px;
    object-fit: cover;
    box-shadow: 10px 10px 0px var(--main);
}

li {
    padding-top: 20px;
    display: flex;
    gap: 40px;
}

i {
    text-align: center;
    font-size: 44pt;
    color: var(--body-color);
}

i:hover {
    transition: 200ms;
    color: var(--main);
}


section {
    width: 100%;
    height: 100vh;
    background-color: var(--main);
    box-shadow: 0px 0px 28px #00000070;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.container-section {
    text-align: center;
    max-width: 60vw;
    min-width: 45vw;
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 150px;
    color: var(--strong-color);
    word-wrap: break-word;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

h2 {
    display: inline;
    text-align: center;
    font-size: 64px;
    color: var(--strong-color);

}


.section p {
    font-size: 24px;
    color: var(--strong-color);
}

p strong {
    padding: 0;
    font-weight: 700;
}

.brands {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.brands i {
    text-align: center;
    color: var(--strong-color);
    font-size: 55px;
}

.btn {
    color: var(--main);
    background-color: var(--strong-color);
    border-radius: 20px;
    padding: 15px 55px;
    box-shadow: 15px 15px 28px #00000038;
    transition: 200ms;
    font-size: 36px;
    font-weight: 700;
}

.btn:hover {
    padding: 15px 100px;
}


footer {
    text-align: center;
    background-color: var(--footer-bg);
    color: var(--strong-color);
    box-shadow: 0px 0px 28px #00000038;
    height: 85px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
}

.redes i {
    color: var(--strong-color);
    font-size: 24px;
    padding: 0 5px;
}



@media only screen and (max-width: 480px) {

    /*Smartphones: até 480px*/


    header h1 {
        font-size: 25px;
        padding: 0;
    }

    header i {
        font-size: 25px;
    }

    .container {
        flex-direction: column-reverse;
        gap: 0;
        text-align: center;
    }

    h1 {
        font-size: 65px;
        line-height: 80px;
        padding-bottom: 25px;
    }

    img {
        width: 200px;
        height: 200px;
        border-radius: 200px;
        object-position: 100% 45%;
    }

    li {
        justify-content: center;
    }

    i {
        font-size: 38pt;
    }

    section {
        height: 135vh;
        margin: auto;
    }

    .section {
        height: 100%;
        gap: 24px;
        min-width: 270px;
    }

    .section h2 {
        font-size: 30px;

    }

    .section p {
        font-size: 16px;
    }

    .btn {
        font-size: 20px;
        white-space: nowrap;
        padding: 15px 30px;
    }

    .btn:hover {
        padding: 15px 55px;
    }



    footer p {
        font-size: 14px;
    }

    .redes i {
        font-size: 14px;
    }
}

@media only screen and (min-width: 481px) and (max-width: 767px) {

    /*Smartphones em modo paisagem e tablets pequenos: até 767px*/
    header h1 {
        font-size: 35px;
        padding: 0;
    }

    header i {
        font-size: 35px;
    }

    .container {
        flex-direction: column-reverse;
        gap: 0;
        text-align: center;
        height: 175%;
    }

    h1 {
        font-size: 65px;
        line-height: 80px;
        padding-bottom: 25px;
    }

    img {
        width: 200px;
        height: 200px;
        border-radius: 200px;
        object-position: 100% 45%;
    }

    li {
        justify-content: center;
    }

    i {
        font-size: 38pt;
    }

    section {
        height: 215vh;
        margin: auto;
    }

    .section {
        height: 100%;
        gap: 24px;
        min-width: 270px;
    }

    .section h2 {
        font-size: 30px;

    }

    .section p {
        font-size: 16px;
    }

    .btn {
        font-size: 20px;
        white-space: nowrap;
        padding: 15px 30px;
    }

    .btn:hover {
        padding: 15px 55px;
    }



    footer p {
        font-size: 18px;
    }

    .redes i {
        font-size: 18px;
    }
}


@media only screen and (min-width: 768px) and (max-width: 1023px) {

    /*Tablets: 768px a 1023px*/


    .container {
        height: 100vh;
        flex-direction: column-reverse;
        gap: 20px;
        text-align: center;
    }

    h1 {
        font-size: 95px;
        line-height: 120px;

    }

    section {
        height: 135vh;
    }

    img {

        width: 341px;
        height: 341px;
        border-radius: 100%;
        object-position: 100% 45%;
    }

    li {
        justify-content: center;
    }

}

/* Other devices */

@media only screen and (min-width: 678px) and (min-height:375px) and (max-width: 896px) and (max-height: 414px) {

    /*Iphone XR horizontal
    Galaxy s9 plus horizontal
    Pixel 3 horizontal
    Iphone XS horizontal */

    .container {
        height: 250vh;
    }
    section{
        height: 300vh;
    }
}